@font-face {
    font-family: "bubble";
    src: url(Fonts/starbim.regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(189, 205, 228);
}

.Title{
    position:absolute;
    left: 100px;
    font-size: 100px;
    font-family: "bubble";
    color: white;
    z-index: 2;   

}

.background{
    background-color: rgb(59, 83, 118);
    height: 600px;
    width: 1000px;
    position: absolute;
    left: 250px;
    top: 200px;
}

.box1{
     height:120px;
    width:142.85px;
    background-color:rgb(137, 87, 87);
}

.box2{
 height:120px;
    width:142.85px;
    background-color:rgb(82, 89, 38);
}

.box3{
     height:120px;
    width:142.85px;
    background-color:rgb(255, 175, 175);
}
.box4{
    height:120px;
    width:142.85px;
    background-color:rgb(190, 163, 163);
}
.box5{
    height:120px;
    width:142.85px;
    background-color:white;
}

.box6{
    height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom:480px;
    background-color:rgb(66, 161, 22);
}

.box7{
    height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom:480px;
    background-color:rgb(43, 217, 226);
}

.box8{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 428.55px;
    bottom:480px;
    background-color:white;
}
.box9{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom:480px;
    background-color:rgb(165, 162, 162);
}
.box10{
    height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom:480px;
    background-color:rgb(77, 0, 0);

}

.box11{
    height:120px;
    width:142.85px;
    position: absolute;
    left: 857.1px;
    bottom:480px;
    background-color:rgb(255, 156, 156);

}

.box12{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom:360px;
    background-color:rgb(187, 202, 85);
}

.box13{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom:240px;
    background-color:rgb(198, 85, 202);
}

.box14{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom: 120px;
    background-color:rgb(45, 1, 47);
}

.box15{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom: 0px;
    background-color:rgb(1, 47, 4);
}

.box16{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 0px;
    background-color:rgb(1, 47, 4);
}

.box17{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 0px;
    background-color:rgb(248, 255, 50);
}

.box18{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 428.55px;
    bottom: 0px;
    background-color:rgb(9, 10, 9);
}

.box19{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom: 0px;
    background-color:rgb(29, 255, 44);
}

.box20{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box21{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box22{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 857.1px;
    bottom: 0px;
    background-color:rgb(152, 211, 156);
}

.box23{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 120px;
    background-color:rgb(249, 135, 255);
}

.box24{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 240px;
    background-color:rgb(91, 255, 83);
}

.box25{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 240px;
    background-color:rgb(232, 255, 83);
}

.box26{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 360px;
    background-color:rgb(255, 106, 83);
}

.box27{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom:360px;
    background-color:rgb(143, 0, 0);
}

.box28{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom:240px;
    background-color:rgb(117, 143, 0);
}

.box29{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom:120px;
    background-color:rgb(0, 55, 143);
}

.box30{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom:120px;
    background-color:rgb(86, 151, 255);
}

.box31{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom:240px;
    background-color:rgb(204, 255, 86);
}

.box32{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom:360px;
    background-color:rgb(97, 255, 86);
}