@font-face {
    font-family: "bubble";
    src: url(Fonts/starbim.regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(189, 205, 228);
}


.Title{
    position:absolute;
    left: 100px;
    font-size: 100px;
    font-family: "bubble";
    color: white;
    z-index: 2;   

}

.background{
    background-color: rgb(59, 83, 118);
    height: 700px;
    width: 1200px;
    border-radius: 50px;
    position: absolute;
    left: 150px;
    top: 120px;
}

.grid{
    grid: 100px;
    color:white;
    z-index: 2;
}