@font-face {
    font-family: "bubble";
    src: url(Fonts/starbim.regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(189, 205, 228);
}

.Title{
    position:absolute;
    left: 100px;
    font-size: 100px;
    font-family: "bubble";
    color: white;
    z-index: 2;   

}

.background{
    background-color: rgb(59, 83, 118);
    height: 600px;
    width: 1000px;
    position: absolute;
    left: 250px;
    top: 200px;
}

.box1{
     height:120px;
    width:142.85px;
    background-color:white;
}

.box2{
 height:120px;
    width:142.85px;
    background-color:white;
}

.box3{
     height:120px;
    width:142.85px;
    background-color:white;
}
.box4{
     height:120px;
    width:142.85px;
    background-color:white;
}
.box5{
    height:120px;
    width:142.85px;
    background-color:white;
}

.box6{
     height:120px;
    width:142.85px;
    background-color:white;
}

.box7{
 height:120px;
    width:142.85px;
    background-color:white;
}

.box8{
     height:120px;
    width:142.85px;
    background-color:white;
}
.box9{
     height:120px;
    width:142.85px;
    background-color:white;
}
.box10{
    height:120px;
    width:142.85px;
    background-color:white;

}