@font-face {
    font-family: "bubble";
    src: url(Fonts/starbim.regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(3, 51, 118);
}

.Title{
    position:absolute;
    left: 100px;
    font-size: 100px;
    font-family: "bubble";
    color: white;
    z-index: 2;   

}

.background{
    background-color: rgb(59, 83, 118);
    height: 600px;
    width: 1000px;
    position: absolute;
    left: 250px;
    top: 200px;
}

.box1{
     height:120px;
    width:142.85px;
    background-color:rgb(255, 255, 255);

}

.box2{
 height:120px;
    width:142.85px;
    background-color:rgb(255, 255, 255);
}

.box3{
     height:120px;
    width:142.85px;
    background-color:rgb(255, 255, 255);
}
.box4{
    height:120px;
    width:142.85px;
    background-color:rgb(255, 255, 255);
}
.box5{
    height:120px;
    width:142.85px;
    background-color:rgb(255, 255, 255);
}

.box6{
    height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom:480px;
    background-color:rgb(255, 255, 255);
}

.box7{
    height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom:480px;
    background-color:rgb(255, 255, 255);
}

.box8{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 428.55px;
    bottom:480px;
    background-color:rgb(255, 255, 255);
}
.box9{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom:480px;
    background-color:rgb(255, 255, 255);
}
.box10{
    height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom:480px;
    background-color:rgb(255, 255, 255);

}

.box11{
    height:120px;
    width:142.85px;
    position: absolute;
    left: 857.1px;
    bottom:480px;
    background-color:rgb(255, 255, 255);

}

.box12{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom:360px;
    background-color:rgb(255, 255, 255);
}

.box13{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom:240px;
    background-color:rgb(255, 255, 255);
}

.box14{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom: 120px;
    background-color:rgb(255, 255, 255);
}

.box15{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 142.85px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box16{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box17{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box18{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 428.55px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box19{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box20{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box21{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box22{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 857.1px;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
}

.box23{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 120px;
    background-color:rgb(255, 255, 255);
}

.box24{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 240px;
    background-color:rgb(255, 255, 255);
}

.box25{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 240px;
    background-color:rgb(255, 255, 255);
}

.box26{
 height:120px;
    width:142.85px;
    position: absolute;
    left: 285.7px;
    bottom: 360px;
    background-color:rgb(255, 255, 255);
}

.box27{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom:360px;
    background-color:rgb(255, 255, 255);
}

.box28{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom:240px;
    background-color:rgb(255, 255, 255);
}

.box29{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 571.4px;
    bottom:120px;
    background-color:rgb(255, 255, 255);
}

.box30{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom:120px;
    background-color:rgb(255, 255, 255);
}

.box31{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom:240px;
    background-color:rgb(255, 255, 255);
}

.box32{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 714.24px;
    bottom:360px;
    background-color:rgb(255, 255, 255);
}

.box33{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 857.1px;
    bottom:360px;
    background-color:rgb(255, 255, 255);
}
.box34{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 857.1px;
    bottom:240px;
    background-color:rgb(255, 255, 255);
}

.box35{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 857.1px;
    bottom:120px;
    background-color:rgb(255, 255, 255);
}

.box36{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 428.55px;
    bottom:360px;
    background-color:rgb(255, 255, 255);
}
.box37{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 428.55px;
    bottom:240px;
    background-color:rgb(255, 255, 255);
}

.box38{
     height:120px;
    width:142.85px;
    position: absolute;
    left: 428.55px;
    bottom:120px;
    background-color:rgb(255, 255, 255);
}

.box1:hover{
      transform: scale(1.3);
}